$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";

$bs-1: #ccc;
$bs-2: #666;

#game-holder{
  height: 100vh;
  & > .row{
    height: 100%;

    & > [class*="col-"]{
      height: 100%;
    }
  }

  .full-height{
    height: 100%;
  }
}

#map-svg{
  max-height: 100%;
  .country{
    fill: #ccc;
    stroke: white;
    stroke-width: 2;
  }
}

.area{
  box-shadow: 0 0 0 5px $bs-1;
  border-radius: 1em;
  position:relative;
  background: white;
  transition: all 0.1s ease;
  left: 0;

  &.active{
    box-shadow: 30px 0 0 5px $bs-2,5px 0 0 5px $bs-2;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    left: -30px;
  }

  &.play-area{
    height: 80%;
    margin: 4% 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 0 0 5px $bs-2;
    margin-top: 25px;
  }

  &.currency-area {
    height: 38%;
    margin-top: 25px;
    text-align: center;
    padding: 0.5em;
  }

  &.map-area{
    height: 37.59999%;
    padding: 0.5em;
    top: 4.4%;
  }
}
